[user]
  name = Sam Desborough
  email = sam.desborough@gmail.com
  signingkey = 31225907A69C412CE5D34AE5515C3780E3997A0D

[github]
  user = desbo

[color]
  ui = auto
[color "diff"]
  meta = cyan 
  commit = blue
  frag = magenta 
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = "red 52"
  newNormal = "green"
  newHighlight = "green 22"

[alias]
  dc = diff --cached
  ap = add -p
  cm = commit -m
  nb = "!git checkout -b $(git config --get github.user)/$1 #"

[core]
  editor = nvim
  excludesfile = ~/.gitignore-global

[push]
  default = current
[rerere]
  enabled = 1

[commit]
  gpgsign = true
[gpg]
	program = gpg
[pull]
  rebase = true
[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.local

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  plus-style = "syntax #2e403e"
  minus-style = "syntax #402e2e"
  syntax-theme = "Nord"
  navigate = true
  hunk-header-file-style = "#999999"
  hunk-header-line-number-style = bold "#003300"
  hunk-header-style = line-number syntax
  hunk-header-line-number-style = green
  hunk-header-decoration-style = box "#4C566A"
  line-numbers = true
  line-numbers-minus-style = "#4C566A"
  line-numbers-zero-style = "#4C566A"
  line-numbers-plus-style = "#8994a9"
  line-numbers-right-style = "#4C566A"
  minus-emph-style = normal "#594040"
  plus-emph-style = syntax "#405956"

[interactive]
  diffFilter = delta --color-only
