[user]
  name = Sam Desborough
  email = sam.desborough@gmail.com
  signingkey = 31225907A69C412CE5D34AE5515C3780E3997A0D

[github]
  user = desbo

[color]
  ui = auto
[color "diff"]
  meta = cyan 
  commit = blue
  frag = magenta 
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = "red 52"
  newNormal = "green"
  newHighlight = "green 22"

[alias]
  dc = diff --cached
  ap = add -p
  cm = commit -m
  nb = "!git checkout -b $(git config --get github.user)/$1 #"

[core]
  editor = nvim
  excludesfile = ~/.gitignore-global

[push]
  default = current
[rerere]
  enabled = 1

[commit]
  gpgsign = true
[gpg]
	program = gpg
[pull]
  rebase = true
[init]
	defaultBranch = main


[include]
  path = ~/.gitconfig.local
[diff]
	external = difft
